<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<meta charset="ISO-8859-1">
	<title>Thymeleaf Member's Page</title>
</head>
<body>
	<div class="container py-4">
		<h3>Christ Church Member Directory</h3>
		<hr>
		<a th:href="@{/members/add}" class="btn btn-primary btn-sm mb-3">
			Add Member
		</a>
		<hr>
		<table class="table table-bordered table-striped">
			<thead class="table-dark">
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="eachMember : ${members}">
					<td th:text="${eachMember.getFirstName()}" />
					<td th:text="${eachMember.getLastName()}" />
					<td th:text="${eachMember.getEmail()}" />
					<td>
						<a th:href="@{/members/update(memberId=${eachMember.id})}" class="btn btn-success btn-sm">Update</a>
						<a th:href="@{/members/delete(memberId=${eachMember.id})}" class="btn btn-danger btn-sm"
						onclick="if(!confirm('Are you sure you want to delete this customer?')) { return false }">Delete</a>
					</td>
				</tr>			
			</tbody>
		</table>
	</div>
</body>
</html>